@Html.Script("~/Applications/Ask/Scripts/jquery.spb.ask.js")

@if (UserContext.CurrentUser != null)
{
    bool isSubscribed = ViewData.Get<bool>("isSubscribed", false);
    long questionId = ViewData.Get<long>("questionId", 0);
    if (isSubscribed)
    {
        <a id="subscribe-@questionId" objectId="@questionId" href="@SiteUrls.Instance()._AskSubscribeQuestion(questionId)"  class="tn-action" style="display:none"><span class="tn-action-text">关注</span></a>
        <a id="subscribe-cancel-@questionId" objectId="@questionId" href="@SiteUrls.Instance()._AskSubscribeQuestionCancel(questionId)" class="tn-action"><span class="tn-action-text">取消关注</span></a>
    }
    else
    {
        <a id="subscribe-@questionId" objectId="@questionId" href="@SiteUrls.Instance()._AskSubscribeQuestion(questionId)" class="tn-action"><span class="tn-action-text">关注</span></a>
        <a id="subscribe-cancel-@questionId" objectId="@questionId" href="@SiteUrls.Instance()._AskSubscribeQuestionCancel(questionId)" class="tn-action" style="display:none"><span class="tn-action-text">取消关注</span></a>
    }
}