@model AskQuestion
@{
    Layout = "app-list-2cols";
    Html.Style("~/Applications/Ask/Styles/app.css");
    IUser currentUser = UserContext.CurrentUser;
}
@section Aside{
    @Html.Action("_QuestionStatus", "ChannelAsk", new { questionId = Model.QuestionId })
}
<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-ask-follower">
    <div class="tn-box-content tn-widget-content tn-corner-all">
        <div class="spb-ask-detail-wrap tn-border-bottom tn-border-gray">
            <div class="spb-ask-detail tn-hover">
                @if (Model != null)
                { 
                    <p class="tn-tags">
                        @{
                            IEnumerable<Tag> tags = Model.Tags;
                            if (tags != null && tags.Count() > 0)
                            {
                                foreach (Tag tag in tags)
                                { 
                                    <span><a href="@SiteUrls.Instance().AskTagDetail(tag.TagName)" outerclass = "tn-tag-card" plugin="tipsyHoverCard" data-url="@SiteUrls.Instance()._AskTagContents(tag.TagName)" target="_blank" >@tag.TagName</a></span>
                                }
                            }
                        }
                    </p>
                }
                <div class="tn-detail">
                    <p class="tn-helper-right">
                        @if (currentUser != null && currentUser.UserId != Model.UserId)
                        {
                            @Html.Action("_SubscribeQuestionButton", "ChannelAsk", new { userId = currentUser.UserId, questionId = Model.QuestionId })
                        }
                    </p>
                    <h2>
                        @Model.Subject
                    </h2>
                </div>
            </div>
        </div>
        <div class="tn-tabs">
            <div class="tn-tabs-panel">
                <ul id="ask-list" class="tn-list spb-myask-list">
                </ul>
                <div class="tn-load-more tn-bg-gray tn-border-gray" style="display: none;">
                    <a id="load-more" href="#" class="tn-action tn-action-text-icon-right"><span class="tn-icon tn-smallicon-collapse-open"></span><span class="tn-action-text">更多</span> </a>
                </div>
                <div class="tn-loading tn-border-gray tn-corner-all" style="display: none;">
                </div>
                <div class="tn-load-end tn-border-gray tn-corner-all" style="display: none;">加载失败，请稍候再试...</div>
                <div class="tn-no-data" style="display: none;">暂无数据</div>
            </div>
        </div>
    </div>
</div>
@Html.ScriptBlock(@<script type="text/javascript">
    $(function () {
        var pageIndex = 1;
        var url = "@(SiteUrls.Instance()._AskQuestionFollowers(Model.QuestionId))";

        //加载页面列表
        function loadMore() {
            $('.tn-load-more').hide();
            $('.tn-load-end').hide();
            $('.tn-loading').show();

            $.get(url, { id: '@(Model.QuestionId)',type:'question', pageIndex: pageIndex }, function (data, status, xhr) {
                $('.tn-loading').hide();

                if (status === "success") {
                    $('#ask-list').append(data);
                    var pageCount = $('#pageCount:last').val();
                    if (pageCount == 0) {
                        $('.tn-no-data').show();
                    } else if (pageCount <= pageIndex) {
                        $('.tn-no-data').hide();
                    } else {
                        $('.tn-load-more').show();
                        $('.tn-no-data').hide();

                        pageIndex++;
                    }
                } else {
                    $('.tn-load-end').show();
                }
            });
        }

        //点击更多
        $('#load-more').click(function (e) {
            e.preventDefault();
            loadMore();
        });

        loadMore();

    });
</script>)
