@model Tag
@{
    Layout = "app-list-2cols";
    Html.Style("~/Applications/Ask/Styles/app.css");
    int followerCount = ViewData.Get<int>("followerCount", 0);
    var currentUser = UserContext.CurrentUser;
}
@section Aside{
    @Html.Action("_HotTags", "ChannelAsk")
}

<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-ask-tag-detail">
    <div class="tn-box-content tn-widget-content tn-corner-all">
        <div class="spb-ask-tag-wrap">
            <div class="tn-details tn-helper-clearfix">
            @if (!string.IsNullOrEmpty(Model.FeaturedImage))
            {
            <div class="tn-figure">
                <a href="@SiteUrls.Instance().AskTagDetail(Model.TagName)"><img width="100" height="100" alt="@Model.TagName" title="@Model.TagName" src="@SiteUrls.Instance().LogoUrl(Model.FeaturedImage, TenantTypeIds.Instance().Tag(), ImageSizeTypeKeys.Instance().Medium())" /></a>
            </div>
            }
            <div class="tn-info">
                <div class="tn-title">
                <div class="tn-actions">
                    @if (currentUser != null)
                    {
                        @Html.Action("_SubscribeTagButton", "ChannelAsk", new { userId = currentUser.UserId, tagId = Model.TagId })
                    }
                </div>
                <h4>
                    <a href="@SiteUrls.Instance().AskTagDetail(Model.TagName)">@Model.TagName</a>
                </h4>
                </div>
                <div class="tn-descrip">
                    <p> @Html.Raw(Model.Description)</p>
                </div>
            </div>
            </div>
            <div class="tn-content-heading tn-border-gray tn-border-bottom">
                 <h4>@(followerCount)人关注了该标签</h4>
            </div>
            <ul class="tn-list">
                <div class="tn-tabs">
                    <div class="tn-tabs-panel">
                        <ul id="ask-list" class="tn-list spb-myask-list">
                        </ul>
                        <div class="tn-load-more tn-bg-gray tn-border-gray" style="display: none;">
                            <a id="load-more" href="#" class="tn-action tn-action-text-icon-right"><span class="tn-icon tn-smallicon-collapse-open"></span><span class="tn-action-text">更多</span> </a>
                        </div>
                        <div class="tn-loading tn-border-gray tn-corner-all" style="display: none;">
                        </div>
                        <div class="tn-load-end tn-border-gray tn-corner-all" style="display: none;">
                            加载失败，请稍候再试...
                        </div>
                        <div class="tn-no-data" style="display: none;">
                            暂无数据
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
@Html.ScriptBlock(@<script type="text/javascript">
    $(function () {
        var pageIndex = 1;
        var url = "@(SiteUrls.Instance()._AskTagFollowers(Model.TagId))";

        //加载页面列表
        function loadMore() {
            $('.tn-load-more').hide();
            $('.tn-load-end').hide();
            $('.tn-loading').show();

            $.get(url, { id: '@(Model.TagId)',type:'tag', pageIndex: pageIndex }, function (data, status, xhr) {
                $('.tn-loading').hide();

                if (status === "success") {
                    $('#ask-list').append(data);
                    var pageCount = $('#pageCount:last').val();
                    if (pageCount == 0) {
                        $('.tn-no-data').show();
                    } else if (pageCount <= pageIndex) {
                        $('.tn-no-data').hide();
                    } else {
                        $('.tn-load-more').show();
                        $('.tn-no-data').hide();

                        pageIndex++;
                    }
                } else {
                    $('.tn-load-end').show();
                }
            });
        }

        //点击更多
        $('#load-more').click(function (e) {
            e.preventDefault();
            loadMore();
        });

        loadMore();

    });
</script>)
