@{
    Html.Style("~/Applications/Photo/Styles/app.css");
    Html.Script("~/Applications/Photo/Scripts/jquery.spb.photo.waterfall.js");
    Html.Script("~/Scripts/jquery/masonry/jquery.masonry.js");
    Html.Script("~/Scripts/jquery/masonry/jquery.infinitescroll.js");
    bool? isEssential = ViewData.Get<bool?>("isEssential", null);
    SortBy_Photo? sortBy = ViewData.Get<SortBy_Photo?>("sortBy", null);
}
<div class="tn-box tn-widget tn-widget-content tn-corner-all spb-photo-rank">
    <div class="tn-box-content tn-widget-content tn-corner-all">
        <div class="spb-photo-rank-wrap">
            <div class="tn-tabs">
                <ul class="tn-tabs-nav tn-border-gray tn-border-bottom tn-helper-clearfix">
                    <li class="tn-widget-content tn-border-gray tn-border-trl @(isEssential == null && sortBy == SortBy_Photo.DateCreated_Desc ? "tn-tabs-selected" : "")">
                        <a href="@SiteUrls.Instance().New()" title="最新">最新</a> </li>
                    <li class="tn-widget-content tn-border-gray tn-border-trl @(isEssential == true && sortBy == SortBy_Photo.DateCreated_Desc ? "tn-tabs-selected" : "")">
                        <a href="@SiteUrls.Instance().Essential()" title="精选">精选</a> </li>
                    <li class="tn-widget-content tn-border-gray tn-border-trl @(isEssential == null && sortBy == SortBy_Photo.HitTimes_Desc ? "tn-tabs-selected" : "")">
                        <a href="@SiteUrls.Instance().Hot()" title="热点">热点</a> </li>
                    <li class="tn-widget-content tn-border-gray tn-border-trl @(isEssential == null && sortBy == SortBy_Photo.CommentCount_Desc ? "tn-tabs-selected" : "")">
                        <a href="@SiteUrls.Instance().HotComment()" title="热评">热评</a> </li>
                    <li class="tn-widget-content tn-border-gray tn-border-trl @(isEssential == null && sortBy == SortBy_Photo.SupportCount_Desc ? "tn-tabs-selected" : "")">
                        <a href="@SiteUrls.Instance().Favorite()" title="喜欢">喜欢</a> </li>
                </ul>
                <div class="tn-tabs-panel">
                    <div id="spbThumbnailFalls" class="spb-photo-waterfall masonry">
                    </div>
                </div>
            </div>
            <nav id="page-nav">
                <a href="@SiteUrls.Instance()._Photos(null, isEssential, sortBy, 2)"></a>
            </nav>
        </div>
    </div>
</div>
